<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Instrument Registrations</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-striped table-hover table-results">
            <thead>
              <tr>
                                  <th>Instrument number</th>
                                  <th>Internal number</th>
                                  <th>Extra number</th>
                                  <th>Object agreement</th>
                                  <th>Granting organ</th>
                                  <th>Linked organ</th>
                                  <th>Existence im</th>
                                  <th>Instituition name</th>
                                  <th>Value transfer</th>
                                  <th>Counterpart value</th>
                                  <th>Total</th>
                                  <th>Signature date</th>
                                  <th>End date</th>
                                  <th>Suspensive date</th>
                                  <th>Type</th>
                                  <th>Address</th>
                                  <th>Open date</th>
                                  <th>Organ</th>
                                  <th>User</th>
                                  <th>Signature</th>
                                
                <th class="col-sm-3">Ações</th>
              </tr>
            </thead>            
            <tbody>
              <% @instrument_registrations.each do |instrument_registration| %>
                <tr>
                                      <td><%= instrument_registration.instrument_number %></td>
                                      <td><%= instrument_registration.internal_number %></td>
                                      <td><%= instrument_registration.extra_number %></td>
                                      <td><%= instrument_registration.object_agreement %></td>
                                      <td><%= instrument_registration.granting_organ %></td>
                                      <td><%= instrument_registration.linked_organ %></td>
                                      <td><%= instrument_registration.existence_im %></td>
                                      <td><%= instrument_registration.instituition_name %></td>
                                      <td><%= instrument_registration.value_transfer %></td>
                                      <td><%= instrument_registration.counterpart_value %></td>
                                      <td><%= instrument_registration.total %></td>
                                      <td><%= instrument_registration.signature_date %></td>
                                      <td><%= instrument_registration.end_date %></td>
                                      <td><%= instrument_registration.suspensive_date %></td>
                                      <td><%= instrument_registration.type %></td>
                                      <td><%= instrument_registration.address %></td>
                                      <td><%= instrument_registration.open_date %></td>
                                      <td><%= instrument_registration.organ %></td>
                                      <td><%= instrument_registration.user %></td>
                                      <td><%= instrument_registration.signature %></td>
                                    <td>
                    <%= link_to fa_icon('eye'),  instrument_registration, class: 'btn btn-sm btn-success' %>                    
                    <%= link_to fa_icon('edit'), edit_instrument_registration_path(instrument_registration), class: 'btn btn-sm btn-warning' %>
                    <%= link_to fa_icon('trash'), instrument_registration, method: :delete, data: { confirm: I18n.t('app.messages.are_you_sure') }, class: 'btn btn-sm btn-danger' %>                    
                  </td>                    
                </tr>
              <% end %>
            </tbody>            
            <tfoot>
              <tr>
                <td>                  
                  <%= link_to fa_icon('plus'), new_instrument_registration_path, class: 'btn btn-md btn-primary' %></td>                  
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
