<%= render 'header' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Mostrando instrument_registration</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal">
                              <div class="form-group"><label class="col-sm-2 control-label">Instrument number</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.instrument_number %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Internal number</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.internal_number %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Extra number</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.extra_number %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Object agreement</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.object_agreement %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Granting organ</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.granting_organ %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Linked organ</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.linked_organ %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Existence im</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.existence_im %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Instituition name</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.instituition_name %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Value transfer</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.value_transfer %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Counterpart value</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.counterpart_value %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Total</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.total %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Signature date</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.signature_date %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">End date</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.end_date %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Suspensive date</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.suspensive_date %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.type %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Address</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.address %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Open date</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.open_date %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Organ</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.organ %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">User</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.user %>
                    </p>
                  </div>                  
                </div>
                              <div class="form-group"><label class="col-sm-2 control-label">Signature</label>
                  <div class="col-sm-10">
                    <p class="form-control-static">
                      <%= @instrument_registration.signature %>
                    </p>
                  </div>                  
                </div>
                            <div class="hr-line-dashed">
              </div>                    
              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to 'Voltar', instrument_registrations_path, :class => 'btn btn-white' %>            
                      <%= link_to 'Editar', edit_instrument_registration_path(@instrument_registration), :class => "btn btn-primary" %>               
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  